@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url("./../img/fondo1.img.jpg");

}

.menu {
    justify-content: center;
    display: flex;
    align-items: center;
}
.cajas {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*GALERIA DE FOTOS*/
.maingdf {
    padding: 40px;
}
.gdfcon {
    width: 30%;
    display:inline-block;
    border-radius: 20px;
    padding: 10px;   
}
.gdf {
    width: 100%;
}

/*CONTACTO*/
.maincontacto {
    padding: 50px;
}
.contacto {
    padding: 500px;
    background-color: rgb(80, 197, 138);
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
}
.contacto h4 {
    font-size: 25px;
}

@media (max-width: 320px) {
    .maingdf{
        flex: 2;

    }
}
    
