@import "./partials/variables";
@import "./partials/reset";
@import "./partials/colores";
@import "./partials/footer";
@import "./partials/media-queries";

.encabezado {
    @include mobile {
        width: 90%;
    }
    @include tablet {
        width: 90%;
    }
}
.h2 {
    font: $estilo-fuente-titulo;
    color: $color-textos;
    text-align: center;
    margin: 30px;
  }

  .parrafo {
    font: $estilo-fuente-parrafo;
    color: $color-textos;
    margin: 30px;
}
.imgqs {
    @include imgqs ;
    -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
   animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both 
}
.contenedorimgqs {
    @include contenedorimgqs ;
}
.gdf {
    @include gdf ;
    -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
   animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both 
}
.contenedorgdf {
    @include mobile {
        width: 100%;
        margin-block: 50px;
        position: relative;
        align-items: center;
        margin: 8px;
        display: inline-block;
    }
    @include tablet {
        width: 29%;
        align-items: center;
        padding: 1px
    }
    @include contenedorgdf ;
}


.card {
    @include mobile {
        width: 100%;
        margin-block: 30px;
        margin-inline: 3%;
        position: relative;
        align-items: center;
        margin: 35px;
        }
    @include tablet {
        width: 10%;
        display: flex;
        padding: 1px;
    }
    -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
   animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both 
}

